.wrapper {
  width: 960px;
  margin: 0 auto;
  max-width: 100%;
}

@font-face {
  font-family: 'League Gothic';
  src: url(../font/LeagueGothic.ttf);
}

/* HEADER STYLES START */
header {
  background-image: url('../img/header_background.png');
  background-position: bottom center;
  padding-top: 69px;
  height: 776px;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 165px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 79%;
}

.nav a {
  display: block;
  color: #fff;
  font-family: 'League Gothic', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 1px 1px 2px rgba(0,0,0, .7);
}

.header_nav a {
  font-size: 24px;
  position: relative;
}

.header_nav a:after {
  content: '';
  display: block;
  opacity: 0;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: -4px;
  background: #edbfff;
}

.header_nav a:hover:after {
  opacity: 1;
}

.nav a:last-child {
  margin-right: 0;
}

.header_slider {
  background-color: rgba(0,0,0, .3);
  height: 400px;
  padding-top: 78px;
  box-sizing: border-box;
  position: relative;
}

.header_slider .wrapper {
  position: relative;
}

.slider_navigation {
  position: absolute;
  top: 175px;
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider_nav_btn_left {
  width: 22px;
  height: 34px;
  background-image: url(../img/icon_arrow_left.png);
  cursor: pointer;
}

.slider_nav_btn_right {
  width: 22px;
  height: 34px;
  background-image: url(../img/icon_arrow_right.png);
  cursor: pointer;
}

.header_slider h1 {
  font-family: 'League Gothic', sans-serif;
  font-size: 61px;
  text-transform: capitalize;
  color: #fff;
  width: 53%;
  margin-bottom: -1px;
  text-shadow: 1px 1px 2px rgba(0,0,0, .7);
}

.header_slider h2 {
  font-family: 'League Gothic', sans-serif;
  font-size: 32px;
  width: 56%;
  text-transform: uppercase;
  color: #edbfff;
  text-shadow: -1px 1px 1px rgba(0,0,0, .7);
}

.header_slider p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #fff;
  width: 56%;
  line-height: 1.35;
  margin-top: 6px;
  text-shadow: 1px 1px 1px rgba(0,0,0, .7);
}

.header_slider img {
  position: absolute;
  top: -95px;
  right: 7.9%;
}

.slider_nav {
  position: absolute;
  right: 166px;
  bottom: -214px;
  display: flex;
  justify-content: space-between;
}

.slider_nav a {
  margin-right: 5px;
  display: block;
  text-decoration: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(0,0,0, .3);
}

.slider_nav a:last-child {
  margin-right: 0;
}

.slider_nav a:hover {
  background-color: #f1f1f1;
  border: 3px solid rgba(0,0,0, .8);
  box-sizing: border-box;
}
/* HEADER STYLES END */


/* BLURBS STYLES START */
.blurbs {
  background: linear-gradient(to bottom, #745083, #322539);
  padding-top: 76px;
  padding-bottom: 67px;
  border-top: 1px solid #33253a;
  border-bottom: 1px solid #1d2f37;
  box-sizing: border-box;
  overflow: hidden;
}

.blurbs h3 {
  font-family: 'League Gothic', sans-serif;
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #0f1518;
}

.blurbs p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #fff;
  margin-top: 9px;
  line-height: 1.5;
  text-shadow: 1px 1px 0px #0f1518;
}

.blurbs a {
  font-family: 'League Gothic', sans-serif;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
  margin-top: 19px;
  text-shadow: 1px 1px 0px #0f1518;
  margin-right: 3px;
}

.blurbs a:hover {
  text-shadow: 0 0 10px #fff;
}

.blurbs .wrapper {
  display: flex;
  justify-content: space-between;
}

.blurbs section {
  padding-left: 60px;
  margin-left: 55px;
  position: relative;
}

.blurbs section:first-child {
  margin-left: 0;
}

.blurbs section:first-child:before {
  content: '';
  display: block;
  width: 24px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 9px;
  background-image: url('../img/icon_wrench.png');
  background-repeat: no-repeat;
}

.blurbs section:nth-child(2):before {
  content: '';
  display: block;
  width: 27px;
  height: 23px;
  position: absolute;
  left: 8px;
  top: 11px;
  background-image: url('../img/icon_replica.png');
  background-repeat: no-repeat;
}

.blurbs section:nth-child(3):before {
  content: '';
  display: block;
  width: 23px;
  height: 25px;
  position: absolute;
  left: 11px;
  top: 9px;
  background-image: url('../img/icon_note.png');
  background-repeat: no-repeat;
}
/* BLURBS STYLES END */


/* LOGOS BLOCK STYLES START */
.logos_block {
  background-color: #f9f9f9;
  border-top: 1px solid #fefefe;
  border-bottom: 1px solid #fefefe;
}

.logos_block .wrapper {
  display: flex;
  justify-content: space-between;
  padding-left: 93px;
  padding-right: 92px;
  padding-top: 24px;
  padding-bottom: 27px;
  box-sizing: border-box;
}

.logos_block .wrapper a {
  display: block;
}
/* LOGOS BLOCK STYLES END */


/* FOOTER STYLES START */
.footer_top {
  background-color: #ececec;
  border-top: #d8d8d8;
  box-sizing: border-box;
  padding-top: 97px;
  padding-bottom: 93px;
}

.footer_top .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_top section {
  margin-left: 62px;
}

.footer_top section:first-child {
  margin-left: 0;
}

.footer_top h3 {
  font-family: 'League Gothic', sans-serif;
  font-size: 30px;
  color: #454545;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff;
}

.footer_top section:first-child h3 {
  font-size: 48px;
  text-shadow: 0 1px 0 #fff;
}

.footer_top section:first-child h3 span {
  color: #b9b9b9;
}

.footer_top section:nth-child(2) {
  display: none;
}

.footer_top address {
  font-family: Georgia, Cambria, serif;
  font-size: 16px;
  font-style: italic;
  color: #c5c5c5;
  margin-top: 14px;
  text-shadow: 1px 1px 0 #fff;
}

.footer_top p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #787878;
  margin-top: 8px;
  line-height: 1.5;
  text-shadow: 1px 1px 0 #fff;
}

.footer_top section:first-child p {
  margin-top: 10px;
}

.footer_bottom {
  background-image: url('../img/footer_bottom_background.png');
  padding-top: 46px;
  padding-bottom: 49px;
  box-shadow: inset 0px 1px 6px 0 rgba(0,0,0, .5); 
}

.footer_bottom .wrapper {
  display: flex;
  justify-content: space-between;
}

.footer_nav a {
  margin-right: 40px;
  font-size: 20px;
}

.footer_nav a:last-child {
  margin-right: 0;
}

.footer_bottom address {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: #fff;
  margin-top: 8px;
  text-shadow: 1px 1px 1px rgba(0,0,0, .7);
}

.footer_bottom address span {
  font-weight: bold;
}
/* FOOTER STYLES END */